
#background {background : black;width: 100%; height: auto}

body { width: 100%; height:auto ; margin: 0;padding: 0; overflow-x: hidden }
html {width: 100%; height: auto; margin:0; padding: 0}

/*nav and image*/
.main-container { position: absolute;
  display: inline-flex;
  width: 50%;
margin-left: 50%
}


.homebutton{  position: absolute;
  background-color:transparent;
  color: white;

  font-size: 100%;
	font-size-adjust: 1.58;

  border: solid #FFFFFF thin ;
	padding-left: 2%;
	padding-right: 1%;
	
	width: 9%;
	margin-top: 0.5%;
	margin-left: 2%;
   }
.homebutton a{flex-shrink: 2; color: white; font-size: 155%;padding-left: 5%; padding-right: 5%; padding-bottom: 5%}
	



.contact a{color: white;text-decoration: none}
.contact{ position: absolute;
  background-color:transparent;
  color: white;

  font-size: 155%;
  border: solid #FFFFFF thin ;
	padding-left: 42px;
	padding-right: 42px;
	margin-left: 70%;
	margin-top: 1%;
}

.about a{color: white;text-decoration: none}
.about{ position: absolute;
  background-color:transparent;
  color: white;

  font-size: 155%;
	font-size-adjust: 1.58;

  border: solid #FFFFFF thin ;
	padding-left: 5%;
	padding-right: 5%;
	
	width: 22%;
	margin-top: 1%;
   
}


/* Dropdown Button */

.dropbtn {
  background-color:transparent;
  color: white;

  font-size: 155%;
  border: solid #FFFFFF thin ;
	padding-left: 43px;
	padding-right: 43px;
	
}

/* The container <div> - needed to position the dropdown content */
.buttoncontainer{width:100%;overflow: hidden}

.dropdown {
  position: relative;
  display: inline-block;
margin-left: 35%;
	margin-top: 1%
	

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position:absolute;
  min-width: 167px;
	top:40px;
	font-size: 15px;

  
}

/* Links inside the dropdown */
.dropdown-content a {
	font-size: 20px;
  color:white;
	padding:5px;
  text-decoration: none;
  display: block;
	border: #FFFFFF solid thin;
text-align: center
}
.dropdown:hover .dropdown-content {display: block;}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */





.backgroundimage {
	width:100%	
}






/*change hight and width of the about me vid*/
#vid{width:50% ;height:200;overflow: hidden;
margin-top:100px;
margin-bottom: 0px;

}
/*hello welcome section*/
.w3-container{height:682px;
}

.rightphoto {
	width: 594px;
	height: 684px;
	float: right;

	margin: 5px;
	margin-top: 18px;
	margin-left: 0px;
	margin-right: 130px;
	margin-bottom: 90px;
	border:thick solid #FFFFFF;
	
	
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.rightphoto:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
	-webkit-transition: all 2000ms ease;

}
.hello{
	width: 50%;
	float:left;
font-size: 70px;
	overflow: hidden;
	text-align: right;
	color: white;
	margin-top: 190px;
	font-weight: 600;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-right:30px;
	margin-bottom: 0px

}
.hello1{
	width: 50%;
	float:left;
font-size: 70px;
	overflow: hidden;
	text-align: right;
	color: white;
	font-weight: 600;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-top: 0px;
	line-height: 50px
}

.hello2{width: 50%;
	float:left;
font-size: 30px;
	overflow: hidden;
	text-align: right;
	color: white;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	

}

/*contact infor css*/

.maintitle{
	font-size: 50px;
    color:white;
	text-transform:uppercase;
	font-weight:700
}

.title{
	text-transform:uppercase;
	color: white;
	font-size: 30px	
}
.info{color:white;
	font-size: 20px
}

/*about me */

/*top stuff*/


/*bottom stuff*/
.leftpic {
	width: 40%;
	height: auto;
	float: left;
	margin-top: 4%;
	
	
	
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.leftpic:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
	-webkit-transition: all 2000ms ease;

}

.righttext{
	color: white;
	padding: 5%;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	height: 60%;
	font-size: 18px
		
}
.textbox{border:#FFFFFF solid thin;
	width: 50%;
	height:100%;
	float:right;
	margin-top: 2%;
		margin-left:5%;
	margin-right:2%;
	padding:10px;
	text-align:left;
	box-shadow: 
	 10px 0 40px #f0f,  /* left magenta */
    -10px 0 40px #0ff; /* right cyan */

filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
}
p{padding-right: 2%;
padding-left: 2%;
}


.textbox:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
-webkit-transition: all 2000ms ease;
}
/*resume button*/
#fullresume{
	color: white;
    border:thin solid #FFFFFF;
    padding:10px;
	font-size:20px;
margin-left:0.2%}




/*buttons*/
.buttoncontainer{width: 100%;height: auto}

.btn-group button {
	width: 100%;
  background-color: black; 
  border: 6px  solid #FFFFFf;
	
 
	text-transform: uppercase;
    border-radius: 20px;
	 
	
	
}
.btn-group a{font-size: 80px;
	color: white; 
	width: 100%

}
.btn1{margin-right: 5%;margin-left: 5%}
.btn2{margin-right: 5%}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: #FFFFFF;
color:black; border-radius: 30px;
}
.btn-group a:hover{color: black;
text-decoration: none }

.btn-group
/*photography pg*/




#vid2{width:50% ;height:200;overflow: hidden;
margin-top:100px;
	margin-bottom: 0px;}


.hear {
width: 35%;
float:left;
background:#000000;
color: white;
margin-bottom: 2%; 
margin-top: 0%;
margin-left:15%;
	padding-top: 5%;
	padding-bottom: 5%;
border-right: #FFFFFF solid;
	font-size:300%;
	line-height: 0.9
	
 
	
}

.link a{font-size: 30px;
width: 40%;
float: right;
background:black;
	color: white;
	margin-bottom: 10px;
	margin-left: 5%;
	
	

}

.one{margin-top: 0%;padding-right: 5%;
	padding-top: 5%;}
.four{padding-right: 5%;
	padding-bottom: 5%;}
ul.no-bullets {list-style-type: none;
  margin: 0;
  padding: 0;}



.footer{color: white;
	width: 100%;height: auto;
padding: 3%;
margin-top: 25%}



/*photoography*/






















.maindivharrys{width:100%; height:auto;overflow: hidden;
	
	}
.fix{width:100%; height:100px;overflow: hidden}

.container1{width: 100%; height: auto}


.righttext1{
	width:20%;
	float:right;
	color: white;
	font-size: 55px;
	position: absolute;
	margin-left: 50%;
	
	border-left:thin #FFFFFF solid;
	

}

.righttext11{width:50%;
	float: right;
	color: white;
	font-size: 25px;
	margin-left: 50%;
	position: absolute;
	margin-top: 8%;
		border-left:thin #FFFFFF solid;
	
}
.righttext111{width:30%;
	
	color: white;
	font-size: 35px;
	margin-left: 50%;
	position: absolute;
	margin-top: 13%;
	border-left:thin #FFFFFF solid;
	
}
.righttext2{width:50%;
	float: right;
	color: white;
	font-size: 25px;
	margin-left: 50%;
	position: absolute;
	margin-top: 24%;
	border-left:thin #FFFFFF solid;
	
}
.righttext3{width:30%;
	
	color: white;
	font-size: 35px;
	margin-left: 50%;
	position: absolute;
	margin-top: 29%;
	border-left:thin #FFFFFF solid;
	
}

.con2righttext{
	position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top: 7.3%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	
		
		
}



.con2righttext1{position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top: 22%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	}
		
	.con2righttext2{position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top: 32%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	}
	
	
.con2photo{ width:12.4%;
	margin-top: 7%;
	margin-left: 48.85%; 
}
.con2photo1{width:12.4%;
	margin-top: 7%;
	margin-left: 0; }
.con2photo3{width: 12.4%;
margin-left: 48.85%;
margin-top: 0.3%}


.con2photo4{width: 12.4%;
margin-top: 0.3%}


.con2photo5{width: 12.4%;
margin-left: 48.85%;
margin-top: 0.3%}


.con2photo6{width: 12.4%;
margin-top: 0.3%}
.card #HARRYS .card-body {
}.card #HARRYS .imageContainer img {
    transition:transform 0.25s ease;
}


/*carousell voss*/

.carousel {width: 47%;


margin-bottom: 0%;
float:left;
	

}
.con{width: 100%; height: auto;
margin-top: 10%;
}

.conpic{padding-left: 50%;width:150%; height: auto;}
.righttext12{
	width:20%;
	float:left;
	color: white;
	font-size: 55px;
	position: absolute;
	margin-left: 7%;
	border-left:thin #FFFFFF solid;

}

.righttext112{width:50%;
	float: left;
	color: white;
	font-size: 25px;
	margin-left: 7%;
	position: absolute;
	margin-top: 8%;
		border-left:thin #FFFFFF solid;
	
}
.righttext1112{width:30%;
	
	color: white;
	font-size: 35px;
	margin-left: 7%;
	position: absolute;
	margin-top: 13%;
	border-left:thin #FFFFFF solid;
	
}
.righttext22{width:50%;
	float: right;
	color: white;
	font-size: 25px;
	margin-left: 7%;
	position: absolute;
	margin-top: 24%;
	border-left:thin #FFFFFF solid;

}
.righttext32{width:30%;
	
	color: white;
	font-size: 35px;
	margin-left: 7%;
	position: absolute;
	margin-top: 29%;
	border-left:thin #FFFFFF solid;
	
}
.con4{width: 100%; height: auto;
margin-top: 50%;}


.con4righttext{
	position: absolute;
	color: #FFFFFF;
	width: 40%;
	padding:4% ;
	padding-right: 0%;
	margin-top: 5%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 55%;
	overflow: hidden
		
		
}



.con4righttext1{position: absolute;
	color: #FFFFFF;
	width: 40%;
	padding:4% ;
	padding-right: 0%;
	margin-top: 20%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 55%;
	overflow: hidden;
	}
		
	.con4righttext2{position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 0%;
	margin-top: 32%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	overflow:hidden;}
	
	
.con4photo{ width:12.4%;
	margin-top: 7%;
	margin-left: 0.4%; 
}
.con4photo1{width:12.4%;
	margin-top: 7%;
	margin-left: 0; }
.con4photos{width:100%; margin-left: 0.4%; margin-top: 0%}
.con4photos1{ width:100%;margin-top: -5%}
.con4photo3{width: 12.4%;
margin-left: 0%;
margin-top: 0.3%}


.con4photo4{width: 12.4%;
margin-top: 0.3%}








/*music section */


.conpic2{width:60%;margin-left: 7%}
.con5{width: 100%; height: auto;
margin-top: 10%}
.righttext125{
	width:40%;
	color: white;
	font-size: 55px;
	position: absolute;
	margin-left: 50%;
	border-left:thin #FFFFFF solid;

}
.righttext1125{
	width:40%;
	color: white;
	font-size: 55px;
	position: absolute;
	margin-left: 50%;
	border-left:thin #FFFFFF solid;}
.con23{width: 100%;
margin-top: 40%}

.con23righttext{
	position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top: 20%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	
		
		}



.con23righttext1{position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top: 33%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	}
		
	.con23righttext2{position: absolute;
	color: #FFFFFF;
	width: 50%;
	padding:4% ;
	padding-right: 10%;
	margin-top:45%;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	}
	
	
.con23photo{ width:12.4%;
	margin-top: 23%;
	margin-left: 0%; 
}
.con23photo1{width:12.4%;
	margin-top: 23%;
	margin-left: 0; }
.con23photo3{width: 12.4%;
margin-left: 48.6%;
margin-top: 0.3%}


.con23photo4{width: 12.4%;
margin-top: 0.3%}


.con23photo5{width: 12.4%;
margin-left: 49.85%;
margin-top: 0.3%}


.con23photo6{width: 12.4%;
margin-top: 0.3%}




.d-block{width:100%}
/*video page*/


.harrystitle{color: white;text-align:inherit; font-size: 50px; padding: 20px; border-left: solid #FFFFFF ; margin-left: 3%;  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}

.harrysp{width:100%;height: auto; color: white; text-align: center}

.harrysvid{
	width:22%;
	height: auto;
	padding:1%;
	margin-left:2%;
	overflow: hidden
}


.vossvid{
	width:47%;
	height: auto;
	padding:1%;
	margin-left:2%;
	overflow: hidden
}


.othervid{
	width:47%;
	height: auto;
	padding:1%;
	margin-left:2%;
	overflow: hidden
}
.othervidr{width:22%;
	height: auto;
	padding:1%;
	margin-left:3%;
	overflow: hidden}


/*design section*/

.condesignharrys{
	width: 100%;
	height: auto;
	
}

.harrysdesignimg{
	width: 30%;
	margin: 5%;
	margin-left: 7%
	
	
		
}

.harrysdesignp{
	width:100%;
	
	color: white;
	font-size: 20px;
	overflow: hidden;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding:0%
		
}

.harrystitle2{width:100%;color: white;font-size: 90px; padding: 0px;margin-left: 0%; overflow: hidden; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}

.contitlep{width: 50%;
margin-left: 45%;
	margin-top: 2.5%;
	position: absolute;
	overflow: hidden;
}

.imgcondesign{width:100%;height: auto;overflow: hidden;}
.fimg{width:24.5%;
	padding: 1%;
	overflow: hidden
	
}


/*voss*/




.vossdesignimg{
	width: 50%;
	margin: 5%;
	margin-left: 50%;
	overflow: hidden
	
	
		
}





.contitlepvoss{width: 40%;
margin-left: 5%;
	margin-top: 2.5%;
	position: absolute;
	overflow: hidden;
}

.imgcondesign{width:100%;height: auto;overflow: hidden;}







.condesignviper{
	width: 100%;
	height: auto;
	
}
.contitlepviper{width: 50%;
margin-left: 45%;
	margin-top: 2.5%;
	position: absolute;
	overflow: hidden;
}

.vipertitle2{width:100%;color: white;font-size: 90px; padding: 0px;margin-left: 0%; overflow: hidden; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}


.viperdesignp{
	width:100%;
	
	color: white;
	font-size: 20px;
	overflow: hidden;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding:0%;

		
}