/* General layout for larger screens */
body {
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.textbox {
  max-width: 500px;
  margin-right: 20px;
}

.textbox p {
  font-size: 2rem;
}

.divpic img {
  max-width: 100%;
  height: auto;
}

/* Example Work section */
.example-work {
  text-align: center;
  margin-top: 50px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: auto;
}

/* For small devices like mobile and tablets */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .textbox, .divpic {
    width: 100%;
    padding: 10px;
  }

  .hello, .hello1, .hello2 {
    font-size: 1.2rem;
  }

  .rightphoto {
    width: 90%;
    max-width: none;
  }
}

/* For even smaller screens like phones in portrait mode */
@media (max-width: 480px) {
  .homebutton a {
    font-size: 1rem;
  }

  .about, .contact, .dropbtn {
    font-size: 1rem;
    padding: 10px;
  }

  .textbox p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .footer {
    font-size: 0.8rem;
  }
}
